@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
}
.menu {
    position: fixed;
}
.menu > h1 {
    padding-right: 300px;
}
.menu , .footer {
    width: 100vw;
    height: 10vh;
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    width: 50vw;
    display: flex;
    justify-content: space-around;
}
.bttn-nav {
    width: 25vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bttn-nav:hover {
    cursor: pointer;
    background-color: wheat;
}
.bttn-nav > a:link , a:visited , a:hover , a:active {
    color: white;
}
.bttn-hamburguer { /**mobile menu**/
    display: none;
}
.main {
    width: 100vw;
    background-color: wheat;
}
#div1 , #div2 , #div3 {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inicio , #sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#sobre {
    flex-direction: row-reverse;
}
.perfil {
    width: 25vw;
    height: 50vh;
    border-radius: 50%;
    overflow: hidden
}
.perfil > img {
    width: 350px;
}
.inicio {
    width: 60vw;
    height: 50vh;
    margin-left: 20px;
}
.inicio > p , h2 {
    margin-top: 20px;
}
.bgsobre > img {
    width: 700px;
    height: 700px;
}
.contato > ul > li > a{
    font-size: 50px;
    color: rgb(211, 24, 55);
}